.env {
    background: rgb(235 235 235) !important;
}

.env button {
    /* background: rgb(255, 0, 0) !important; */
    margin-left: 8px;
}

.project {
    background: rgb(211, 211, 211) !important;
    font-weight: bold;
}
