fastapi[all]
langchain-google-vertexai
langchain-core
uvicorn
typing
pandas
langchain_community
langchain_text_splitters
langchain
bs4
pypdf
fitz
frontend
tools
google-cloud-storage
starlette
asyncio
sqlalchemy
sqlmodel
psycopg[binary,pool]
psycopg2-binary
loguru
asyncpg
pgvector
google-cloud-secret-manager